# DB
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Spring Boot
SPRING_PROFILES_ACTIVE=
APP_PORT=
SERVER_PORT=

# Docker
COMPOSE_PROJECT_NAME=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_S3_PRESIGNED_URL_EXPIRATION_MINUTES=

# DataSource Configuration
RDS_ENDPOINT=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# API
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
OCR_SPACE_API_KEY=

# JVM Configuration
JVM_OPTS=-Xmx512m -Xms256m -XX:MaxMetaspaceSize=128m -XX:+UseSerialGC
